.search-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.search-container input {
  width: 400px;
  padding: 12px;
  border: 1px solid #475569;
  border-radius: 10px;
  background: #1e293b;
  color: white;
}

.search-container input::placeholder {
  color: #94a3b8;
}